<footer style="padding: 12px 15px 10px;">
    <p style="margin: 0; font-weight: bolder; text-align: center; color: #049869;">
        Stay Connected!
    </p>
    {{!-- <div style="text-align: center; margin-top: 10px;">
        <a href=""><img src="https://ci6.googleusercontent.com/proxy/i6_VaF0YwcVX_aJGyTOdQcAoiGIJ_mtdJQgm675mrryBk89nw5L1n4IGp6-zyvdtnmx514a7q77HjvKPAZUNs8_TzAW1yho5wFRdDZM=s0-d-e1-ft#https://public.bnbstatic.com/image/social/twitter-dark.png" height="30px" width="30px" /></a>
        <a href=""><img src="https://ci4.googleusercontent.com/proxy/U53_0poSUhgXl45ocVoVTFgWvEOvravIvtxHr-vzhkqVjYsVka73iN7LEUcP2xGzuMNmWoR829nTlGkKEG4p3ai_sXwFkBZo4tr7PW2S=s0-d-e1-ft#https://public.bnbstatic.com/image/social/telegram-dark.png" height="30px" width="30px" /></a>
        <a href=""><img src="https://ci6.googleusercontent.com/proxy/K6Au7993Q2fgl7k4U2BfHoRxbKZ94Mp-OlW0bqQeI8JIkHW7FYUkOOgF-a5FFVJPgtgrK4pW9BGX0-aIDXY3wucgJiIwVbIxc7B2Nf_C=s0-d-e1-ft#https://public.bnbstatic.com/image/social/facebook-dark.png" height="30px" width="30px" /></a>
        <a href=""><img src="https://ci4.googleusercontent.com/proxy/bTYvt7pFkMe655Q1Cpk5ZDxY8IHQsiISq-Twa3eeabEQJkGiPqa4ODw3BD39npl114xEvQBbQLYbT7tEC2HImm8jeEO77T8OmjHio3US=s0-d-e1-ft#https://public.bnbstatic.com/image/social/linkedin-dark.png" height="30px" width="30px" /></a>
        <a href=""><img src="https://ci5.googleusercontent.com/proxy/JV337qEmHSlU3zvEhfhrFzW1ZJzNtMs08ZywZMo6i40ZAihSFETYkh6fnGpabTG34TI3l355s7YT7tejg2JU4SOlTOgm5FrNEGxrggc=s0-d-e1-ft#https://public.bnbstatic.com/image/social/youtube-dark.png" height="30px" width="30px" /></a>
        <a href=""><img src="https://ci5.googleusercontent.com/proxy/WMuzzJSKIHAQ_iPy4fuaxQDIhIaLPfE5V9uy6uAbJWQe33Rlu9fIl6NLZBUeLv8HPgrylVnI3Ng0-9449OS5PJIJRVPvcnxLAJW-zYuWXQ=s0-d-e1-ft#https://public.bnbstatic.com/image/social/instagram-dark.png" height="30px" width="30px" /></a>
    </div> --}}
    <p style="margin: 0; margin-top: 10px; font-size: 13px">
        <b>Kindly note</b>: Please be aware of phishing sites and always ensure you are visiting the official Apexloaded.com website when entering sensitive data.
    </p>
    <p style="text-align: center; font-size: 13px">
        @ 2019 - 2022 Apexloaded.com, All right Reserved.
    </p>
</footer>