<header style="background-color: #fff;">
    <div style="text-align: center; padding:0; margin:0; background-color: #020f00">
        <h1 style="text-align: center; color:#fff; font-size:32px">TRANSCRIPT</h1>
    </div>
</header>